.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.content {
  max-width: 720px;
  margin: 4rem auto 0;
}

.details {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  color: var(--gray-200);
  margin-top: 1.5rem;
  margin-bottom: 4rem;

  time {
    margin-left: 0.5rem;
    margin-right: 1rem;
  }

  small {
    margin-left: 0.5rem;
    font-size: 0.875rem;
    margin-right: 1rem;
  }
}

.heading {
  font-size: 2.25rem;
  margin-bottom: 3rem;
}

.title {
  font-size: 2.25rem;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

.postContent {
  margin-top: 2rem;
  line-height: 2rem;
  font-size: 1.125rem;
  color: var(--gray-200);

  p,
  ul {
    margin: 1.5rem 0;
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin: 0.5rem 0;
    }
  }
}